<launch>
	<arg name="pkg_name" value="led_control_publish"/>
	<arg name="node_name" default="led_publish_node"/>
	
	<!-- ex1_publish_node -->
	<node name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen">
	</node>

	<!-- ex1_subscribe -->
	<remap from="led_subscribe_node/led_test_control" to="led_publish_node/led_test_control"/>
	<include file="$(find led_control_subscribe)/launch/led_control_subscribe.launch">
	</include>

</launch>
