<launch>
	<arg name="pkg_name" value="led_control_subscribe"/>
	<arg name="node_name" default="led_subscribe_node"/>
	
	<!-- ex1_subscribe_node -->

	<node name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen">
	</node>
	<remap to="led_subscribe_node/led_test_control" from="led_publish_node/led_test_control"/>
	<include file="$(find led_control_publish)/launch/led_control_publish.launch">
</launch>
